* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
}

@font-face {
    font-family: "Gilroy-Regular";
    src: url(../fonts/Gilroy-Regular.ttf);
}

@font-face {
    font-family: "Gilroy-Bold";
    src: url(../fonts/Gilroy-Bold.ttf);
}

body {
    font-family: "Gilroy-Regular";
}

.hero-sec {
    width: 100%;
    height: 100vh;
    background-image: url(../imgs/main-bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero-content-sec {
    header {
        nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 30px 0;

            #select-box {
                border: none;
                background-color: transparent;
                outline: none;
                font-family: var(--font-family);
                font-weight: 400;
                font-size: 18px;
                color: #fff;
                text-decoration: none;


            }

            a {
                font-family: var(--font-family);
                font-weight: 400;
                font-size: 18px;
                color: #fff;
                text-decoration: none;

                &:hover {
                    color: #000000;
                    transition: all 0.3s ease-in-out;

                }
            }

            .logo {
                font-family: var(--font3);
                font-weight: 400;
                font-size: 28px;
                letter-spacing: 0.01em;
                text-transform: capitalize;
                color: #fff;
            }

            div {
                display: flex;
                gap: 60px;
            }

            .cart-sec {
                display: flex;
                gap: 20px;
                align-items: center;
                position: relative;

                #circle {
                    width: 20px;
                    height: 20px;
                    background-color: #E58411;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: white;
                    position: absolute;
                    right: -10px;
                    top: 0;
                }

            }
        }
    }
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60vh;

    b {
        font-family: 'Gilroy-Bold';
        font-weight: 400;
        font-size: 80px;
        line-height: 130%;
        letter-spacing: -0.01em;
        text-transform: capitalize;
        text-align: center;
        color: #fff;
        text-align: center;
        width: 860px;
    }

    p {
        font-family: var(--second-family);
        font-weight: 400;
        font-size: 24px;
        line-height: 160%;
        text-align: center;
        color: #fff;
        opacity: 0.8;
        margin-bottom: 30px;
    }

}

.hero_content_input {
    display: flex;
    align-items: center;
    position: relative;

    input {
        border: 0.86px solid rgba(255, 255, 255, 0.6);
        border-radius: 42px;
        padding: 8px 8px 8px 20px;
        width: 344px;
        height: 56px;
        backdrop-filter: blur(8px);
        background: rgba(255, 255, 255, 0.15);
        outline: none;
        font-family: var(--second-family);
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;

        color: #fff;
    }

    div {
        border-radius: 24px;
        padding: 11px;
        width: 40px;
        height: 40px;
        background: #e58411;
        position: absolute;
        right: 8px;
        cursor: pointer;
    }
}

.color-change-sec {
    .color-change-sec__top {
        display: flex;
        gap: 10px;
        position: relative;

        .color-change-sec__top__items {
            display: flex;
            align-items: center;
            gap: 10px;
            position: absolute;
            top: 12px;
            left: 12px;

            div {
                width: 24px;
                height: 24px;
                border-radius: 50%;
                background-color: #ffffff;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;






                div {
                    width: 18px;
                    height: 18px;
                    border-radius: 50%;
                    background-color: #E58411;
                }
            }

            div:nth-child(2) {
                div {
                    background-color: #00D6C9;
                }
            }

            div:nth-child(3) {
                div {
                    background-color: #7C7C7C;
                }
            }
        }


    }
}

.color-change-sec__bottom {


    div {
        border-radius: 100%;
        fill: rgba(255, 255, 255, 0.2);
        stroke-width: 0.86px;
        stroke: rgba(255, 255, 255, 0.6);
        backdrop-filter: blur(8px);
        width: 56px;
        height: 56px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        div {
            width: 18px;

            height: 18px;
            border-radius: 100%;
            background-color: #fff;
        }
    }
}

.hero-content {
    position: relative;
}

// .hero-content-sec {
//     position: relative;
// }

.color-change-sec {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
    position: absolute;
    bottom: 160px;
    left: 260px;
}

.position-circle {
    width: 32px;
    height: 32px;
    border: 50%;
    border-radius: 100%;
    fill: rgba(255, 255, 255, 0.2);
    stroke-width: 0.86px;
    stroke: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(8px);
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    cursor: pointer;

    div {
        width: 10px;
        height: 10px;
        border-radius: 100%;
        background-color: #fff;
    }
}

#pos-circle-1 {
    left: 120px;
    bottom: 120px;
}

#pos-circle-2 {
    left: 845px;
    bottom: 94px;
}

#pos-circle-3 {
    right: 35px;
    bottom: 50px;
}

.reason-sec {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    margin-top: 120px;
    margin-bottom: 120px;

    h1 {
        font-family: var(--font3);
        font-weight: 400;
        font-size: 42px;
        color: #1e1e1e;
        width: 45%;

    }


    &__items {
        display: flex;
        align-items: center;
        gap: 23px;


        b {
            font-family: var(--font3);
            font-weight: 400;
            font-size: 24px;
            color: #1e1e1e;
            opacity: 0.9;
            margin-bottom: 20px;
        }

        P {
            font-family: var(--second-family);
            font-weight: 400;
            font-size: 16px;
            line-height: 185%;
            color: #1e1e1e;
            margin-top: 20px;
            margin-bottom: 15px;
            width: 80%;
            opacity: 0.8;
        }

        &__item {
            div {
                display: flex;
                align-items: center;
                gap: 15px;
            }
        }

        &__item:nth-child(1) {
            margin-left: 120px;
        }


        a {
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 14px;
            line-height: 185%;
            color: #e58411;
            text-decoration: none;
        }
    }
}

.selling-sec {
    padding: 10px 0;
    background: #f7f7f7;

}

.selling {
    &__title {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 35px;

        h1 {
            font-family: var(--font3);
            font-weight: 400;
            font-size: 42px;
            color: #1e1e1e;
            text-align: center;
            margin-top: 50px;
        }

        &__buttons {
            border-radius: 44px;
            padding: 6px;
            width: 348px;
            height: 57px;
            background: #eee;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 40px;

            button {
                cursor: pointer;
                border-radius: 32px;
                padding: 4px;
                width: 84px;
                height: 45px;
                border: none;
                font-family: var(--font-family);
                font-weight: 400;
                font-size: 18px;
                line-height: 185%;
                color: #1e1e1e;
                opacity: 0.8;
            }
        }
    }
}

.title-button-active {
    border-radius: 32px;
    padding: 4px;
    width: 84px;
    height: 45px;
    background: #fff;
    transition: all 0.3 ease-in-out;
}

.products {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.product {
    border-radius: 20px;
    width: 268px;
    height: 450px;
    background: #fff;
    border: 1px solid red;
    padding: 21px;
    position: relative;


    &__title {
        p {
            font-family: var(--third-family);
            font-weight: 400;
            font-size: 16px;
            color: #8d8d8d;
        }

        b {
            font-family: var(--third-family);
            font-weight: 600;
            font-size: 21px;
            text-transform: capitalize;
            color: #0d1b39;
            margin-bottom: 5px;
        }

        img {
            margin-bottom: 26px;
        }
    }

    &__price {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 35px;

        button {
            border-radius: 31px;
            padding: 12px;
            width: 48px;
            height: 48px;
            background: #0d1b39;
            cursor: pointer;
            border: none;

        }


        .dollar {
            position: relative;
            display: flex;
            align-items: center;
            gap: 5px;

            b {
                font-family: var(--third-family);
                font-weight: 600;
                font-size: 21px;
                color: #0d1b39;
            }

            b:nth-child(1) {
                // position: absolute;

                font-family: var(--third-family);
                font-weight: 600;
                font-size: 15px;
                color: #0d1b39;
                margin-bottom: 12px;
            }
        }
    }

}

.swiper-button-prev {
    border-radius: 26px;
    padding: 11px;
    width: 50px;
    height: 50px;
    box-shadow: 0 7px 20px 0 rgba(0, 0, 0, 0.06);
    background: #fff;
    transform: rotate(-180deg);
}

.swiper-button-prev::after {
    border-radius: 26px;
    padding: 11px;
    width: 50px;
    height: 50px;
    box-shadow: 0 7px 20px 0 rgba(0, 0, 0, 0.06);
    background: #fff;
    transform: rotate(-180deg);


}

.karusel {
    margin-bottom: 30px;
}

.view-more-link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    margin-top: 40px;

    button {
        text-decoration: none;
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 18px;
        line-height: 185%;
        color: #e58411;
        border: none;
        cursor: pointer;
        background-color: #ffffff;
    }
}

.display-none {
    display: none;
}

.default {
    display: block;

}

.experience-sec {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    margin-top: 90px;
    gap: 100px;
    // overflow: hidden;

}

.bg-img-sec {
    position: relative;

    .bg-div {
        border-radius: 20px;
        width: 495px;
        height: 301px;
        background: #f7f7f7;
    }

    #bg-div1 {
        position: absolute;

        top: 55px;
        right: -65px;
        z-index: -1;
    }

    #bg-div2 {
        position: absolute;
        z-index: -1;
        left: -95px;
        top: 10px;
        transform: rotate(90deg);

    }


}

.experience-sec {
    .text-sec {
        b {
            font-family: var(--font5);
            font-weight: 400;
            font-size: 18px;
            letter-spacing: 0.17em;
            text-transform: uppercase;
            color: #e58411;
            margin-bottom: 20px;
        }

        h1 {
            font-family: var(--font3);
            font-weight: 400;
            font-size: 42px;
            text-transform: capitalize;
            color: #1e1e1e;
            margin-top: 20px;
            margin-bottom: 20px;
        }

        P {
            font-family: var(--second-family);
            font-weight: 400;
            font-size: 18px;
            line-height: 185%;
            color: #1e1e1e;
            opacity: 0.8;
            margin-bottom: 24px;
        }

        div {
            a {
                text-decoration: none;
                font-family: var(--font-family);
                font-weight: 400;
                font-size: 14px;
                line-height: 185%;
                color: #e58411;
            }
        }
    }
}